
body{
font-family:Arial;
background:linear-gradient(135deg,#4facfe,#00f2fe);
margin:0;
}
.container{text-align:center;padding:40px;color:white;}
.card{background:white;padding:20px;border-radius:10px;width:300px;margin:auto;display:flex;flex-direction:column;gap:10px;}
.card input{padding:10px;border-radius:5px;border:1px solid #ccc;}
button{padding:10px;border:none;background:#4facfe;color:white;font-weight:bold;border-radius:5px;}
.result{margin-top:20px;background:white;color:black;padding:20px;border-radius:10px;display:inline-block;}
